.profile {
  width: 80%;
  margin: 15px auto 15px auto;
  padding: 10px;
  background-color: #ffffff;
}
body {
  background-color: #eee;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1 {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h2 {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h3 {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.tabs {
  background-color: #00BCD4;
  color: #ffffff;
}
paper-toolbar {
  background-color: #00BCD4;
}
.contents {
  margin-left: auto;
  margin-right: auto;
  width:  90%;
  padding: 8px;
}
.sized {
  width: 200px;
  height: 200px;
}

